*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*pagina login*/
html,body{
    height: 100%;
    background: rgba(94, 22, 68, 0.9);;
}
body{
    overflow-x: hidden;
}
h2{
    color: rgba(94, 22, 68, 0.9);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    background: #ffffff;
    width: 100%;
    max-width: 550px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 40px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}
input[type=text], input[type=password]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    outline: 0;
    font-size: 15px;
}
input[type=submit]{
    background-color: rgba(94, 22, 68, 0.9);
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    outline: 0;
    font-size: 15px;
}
.erro{
    width: 100%;
    padding: 8px 2%;
    text-align: center;
    background: #F75353;
    color: #ffffff;
    font-size: 15px;
}


/*painel de controle*/
.clear{
    clear: both;
}
.center{
    padding: 0 2%;
    margin: 0 auto;
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: rgb(65, 20, 48);
    float: left;
    width: 300px;
    padding: 10px;
}
.menu-wraper{
    width: 300px;
}
header{
    position: relative;
    left: 300px;
    padding: 15px 0;
    background: rgb(112, 47, 87);
    width: calc(100% - 300px);
}
.loggout{
    float: right;
}
.loggout a{
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}
.menubotao i{
    float: left;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}
.box-usuario{
    text-align: center;
}
.avatar-usuario{
    text-align: left;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    border: 2px solid black;
}
.avatar-usuario i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: rgba(94, 22, 68, 0.9);
}
.nome-usuario{
    text-align: center;
    margin-top: 12px;
}
.nome-usuario p{
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
}

/*conteudo do painel*/
.w100{
    width: 100%;
}
.w50{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}
.box-content{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .menu{
        padding: 0;
        width: 0;
        /*nao e para fazer display none, ser nao no responsivo o click para esconder o menu some e nao volta mais*/
    }
    .content{
        width: 100%;
        left: 0;
    }
    header{
        left: 0;
        width: 100%;
    }
}









































